.modal {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  border-radius: 5px;
  display: none;

  &.open {
    display: block;
  }

  @include themify {
    background: theme(modal-background);
  }

  .modal-icons {
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-width: 0 0 2px;
    border-style: solid;
    padding: 5px;

    @include themify {
      border-color: theme(tabs-border);
    }

    .modal-close {
      width: 11px;
      height: 11px;
      border-radius: 5.5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      padding: 0;

      @include themify {
        background: theme(modal-close);
      }

      &:hover::before {
        content: "\2715";
        font-family: Arial;
        font-size: 8px;
        line-height: 11px;
        color: rgba(black, 0.5);
      }
    }
  }

  .tabs {
    position: absolute;
    width: calc(100% - 32px);
    height: 30px;
    top: 0;
    left: 22px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 10px;
    display: flex;
    border-width: 0 0 2px;
    border-style: solid;

    @include themify {
      border-color: theme(tabs-border);
    }

    .tab {
      border-width: 0 1px 0 0;
      border-style: solid;
      padding: 5px;
      height: 20px;
      cursor: pointer;
      user-select: none;
      text-align: center;
      background: none;
      box-sizing: content-box;
      font-family: 'Raleway', sans-serif;
      outline: none;

      @include themify {
        border-color: theme(tab-border);
      }

      &:hover,
      &.active {
        @include themify {
          background: theme(tabs-border);
        }
      }
    }

    .add-effect {
      width: 20px;
      line-height: 20px;
      font-size: 25px;
    }
  }
}
