$base-font-size: 16px;

// Default Color Scheme
$theme-yellow: rgba(255, 252, 49, 1);
$theme-purple: rgba(92, 65, 93, 1);
$theme-white: rgba(246, 247, 235, 1);
$theme-red: rgba(233, 79, 55, 1);
$theme-black: rgba(57, 62, 65, 1);
